<div class="container">
<footer>
	<small>
		Copyright &copy; <a href="http://www.myblog.com">My-Blog</a> By <a href="http://www.facebook.com/kaleemhunterx">Kaleem Qasim</a>
	</small>
		<nav>
			<ul>
			<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
</footer>
</div>